{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.16.0"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "rewire"
      ]
    }
  }
}
